<ul class="navbar-nav">
    <hr id="nav-vr1" style="">
    <li class="nav-item px-3">
        <NavLink @onclick="ClickNav" class="nav-link" href="" Match=NavLinkMatch.All>
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink @onclick="ClickNav" class="nav-link" href="chat">
            <span class="oi oi-comment-square" aria-hidden="true"></span> Chat
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink @onclick="ClickNav" class="nav-link" href="maps">
            <span class="oi oi-map-marker" aria-hidden="true"></span> Maps
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink @onclick="ClickNav" class="nav-link" href="youtube">
            <span class="oi oi-video" aria-hidden="true"></span> Youtube
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink @onclick="ClickNav" class="nav-link" href="beautify">
            <span class="oi oi-spreadsheet" aria-hidden="true"></span> Beautify
        </NavLink>
    </li>
    <hr id="nav-vr2" style="width: 2px; height: inherit; margin-right:5px; margin-left:5px;">
    <hr id="nav-hr" />
    <li class="nav-item px-3">
        <NavLink @onclick="ClickNav" class="nav-link" href="Identity/Account/Register">
            <span class="oi oi-" aria-hidden="true"></span> Register
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink @onclick="ClickNav" class="nav-link" href="Identity/Account/Login">
            <span class="oi oi-account-login" aria-hidden="true"></span> Login
        </NavLink>
    </li>
</ul>

<style>
    
    @@media screen and (max-width: 992px) {
        #nav-vr1, #nav-vr2 {
            display: none;
        }

        #nav-hr {
            display: inherit;
            color: black;
            padding-right: 50px;
            padding-left: 50px;
            width: 3px;
        }

        .nav-item.px-3 {
            width: 120px;
        }
        
    }

    @@media screen and (min-width: 993px) {
        #nav-vr1, #nav-vr2 {
            display: inherit;
            height: 32px!important;
            margin-top: 4px;
            margin-bottom: 4px;
            width: 2px;
            margin-right: 5px;
            margin-left: 5px;

        }

        #nav-hr {
            display: none;
        }       
    }

    li a:hover {
        background-color: lightblue;
    }

    li a.active {
        background-color: aqua;
    }


    
</style>

@code {
    [CascadingParameter]
    public MainLayout MainLayout { get; set; }

    private void ClickNav()
    {
        MainLayout.AddCollapse();
    }
}
