@inherits LayoutComponentBase

<PageTitle>Fennorad</PageTitle>

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-4 border-bottom shadow">
            <div class="container-fluid container">
                    <a class="navbar-brand" href="">Fennorad</a>
                    <button class="navbar-toggler" @onclick="@AddCollapse" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="@(!IsCollapsed ? "collapse": "") navbar-collapse" id="navbarNav">
                        <CascadingValue Value="this">
                            <LoginDisplay />
                        </CascadingValue>
                    </div>
                
            </div>
        </nav>
        <br />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {

    private bool IsCollapsed { get; set; } = false;

    public void AddCollapse()
    {
        IsCollapsed = !IsCollapsed;
        StateHasChanged();
    }
}
