@page "/"
@using System.Security.Claims
@using Blazorise
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHostEnvironmentAuthenticationStateProvider HostAuthentication
@inject NavigationManager navManager;
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Fennorad</PageTitle>
<div class="container">
    <div class="row center-stuff">
        <div class="col-12 col-md-8">
            <AuthorizeView>
                <Authorized>
                    @if(user != null)
                    {
                        <h2>Hello, @user.Identity.Name!</h2>
                        <p>Thank you for joining us today</p>
                    }
                    else
                    {
                        <h2>Hello, User!</h2>
                        <p>There are some issues with your login. Log back in to remedy the issue :)</p>
                    }
                </Authorized>


                <NotAuthorized>
                            <h2>Hello, user!</h2>
                            <p>In order to authenticate and use the Chat functionality then <a href="Identity/Account/Login">Login</a> or <a href="Identity/Account/Register">Register</a></p>
                </NotAuthorized>
 
            </AuthorizeView>
            <br />
        </div>
        <div class="row center-stuff">
            <div class="col-12 col-md-8">
                <h3>Currently Available Functionality</h3>
                <Carousel Crossfade=true Interval=10000 Style="height:400px;" @bind-SelectedSlide=@SelectedSlide >
                    <CarouselSlide Name="1">
                        <Card>
                            <CardImage Style="width:100%; height: 280px;" Source="https://media.giphy.com/media/26FPJGjhefSJuaRhu/giphy.gif" Alt="chat.gif"></CardImage>
                            <hr />
                            <CardBody>
                                <CardTitle Size="5"><Button Color="Color.Primary" Type="ButtonType.Link" To="chat" Target="Target.Parent">Go To Chat</Button></CardTitle>
                                <CardText Style="overflow-y: auto; width: 100%; height: 50px;">
                                    This page allows users to chat with other users and stores conversations. Login to try it out. (User: example-user Password: password)
                                </CardText>
                            </CardBody>
                        </Card>
                    </CarouselSlide>
                    <CarouselSlide Name="2">
                        <Card>
                            <CardImage Style="width:100%; height: 280px;" Source="https://media.giphy.com/media/ildLrpK7sOV9ky6NOf/giphy.gif" Alt="maps.gif"></CardImage>
                            <CardBody>
                                <CardTitle Size="5"><Button Color="Color.Primary" Type="ButtonType.Link" To="maps" Target="Target.Parent">Go To Maps</Button></CardTitle>
                                <CardText Style="overflow-y: auto; width: 100%; height: 50px;">
                                    This is a navigation page that allows for a user to get directions from one place to another.
                                </CardText>
                            </CardBody>
                        </Card>
                    </CarouselSlide>
                    <CarouselSlide Name="3">
                        <Card>
                            <CardImage Style="width:100%; height: 280px;" Source="https://media.giphy.com/media/13Nc3xlO1kGg3S/giphy.gif" Alt="youtube.gif"></CardImage>
                            <hr />
                            <CardBody>
                                <CardTitle Size="5"><Button Color="Color.Primary" Type="ButtonType.Link" To="youtube" Target="Target.Parent">Go To Youtube</Button></CardTitle>
                                <CardText Style="overflow-y: auto; width: 100%; height: 50px;">
                                    This is a page that allows you to search for, play, cast, and download videos (mp3 or mp4).
                                </CardText>
                            </CardBody>
                        </Card>
                    </CarouselSlide>
                    <CarouselSlide Name="4">
                        <Card>
                            <CardImage Style="width:100%; height: 280px;" Source="https://media.giphy.com/media/3oEjHWbXcpeKhTktXi/giphy.gif" Alt="beautify.gif"></CardImage>
                            <CardBody>
                                <CardTitle Size="5"><Button Color="Color.Primary" Type="ButtonType.Link" To="beautify" Target="Target.Parent">Go To Beautify</Button></CardTitle>
                                <CardText Style="overflow-y: auto; width: 100%; height: 50px;">
                                    This page allows you to paste either JSON or XML and return a pretty print version of the object.
                                </CardText>
                            </CardBody>
                        </Card>
                    </CarouselSlide>
                </Carousel>
            </div>
        </div>
    </div>
</div>

<style>
    .center-stuff {
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }

    .carousel-control-next, .carousel-control-prev {
        height: 30px;
        width: 20px;
        position: absolute;
        top: 50%;
        background-color: darkslategray;
    }

</style>

@code{

    private ClaimsPrincipal user { get; set; }

    private string SelectedSlide = "1";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            user = null;
        }
    }
}