@page "/resume"
@inject IJSRuntime JsRuntime

<PageTitle>Resume</PageTitle>
<div class="container">
    <div class="row center-stuff">
        <div class="col-12 col-md-8">
            <h2>Resume</h2>
            <p>This is a timeline showcasing my experience as a professional software engineer.</p>
            <hr />
        </div>
    </div>
</div>


@code {

}

<style>
    .center-stuff {
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }

    .container {
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }
</style>
