@page "/chat"
@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@using Chat.Try.Models
@inject Chat.Try.Accessors.IUserDbAccessor _userDbAccessor
@inject Chat.Try.Accessors.IChatDbAccessor _chatAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

<div class="container overflow-auto bg-white">
    @if (Conversations.Any())
    {
        <p>Search for new convos!</p>
        <div class="row">
            <div class="col-3">
                <input @bind="userSearch" type="text" class="form-control" placeholder="Find a friend" />
            </div>
            <div class="col-3">
                <button type="button" @onclick="SearchForUser" disabled="@(!IsConnected)" class="btn btn-primary">Send</button>
            </div>
        </div>
        
        <br />
    }
    <div class="row justify-content-between">
        <div class="col-3">
            <ConversationPage Conversations=@Conversations UserId=@_userId @bind-SelectedConversation="SelectedConversation" />
        </div>
        
        @if (SelectedConversation != null)
        {
            <div class="col-6">
                Does this work? Convo with @SelectedConversation.ConversationUsers.First(x => x.UserId != _userId).UserId
            </div>
        }
    </div>
    
</div>


@code{
    private HubConnection hubConnection;
    private List<Conversations> Conversations = new();
    private Conversations SelectedConversation { get; set; }
    private string _username;
    private string _userId;
    private string userSearch;
    private string messageInput;
    private bool isUserReadonly = false;
    private ClaimsPrincipal user = new ClaimsPrincipal();

    private DisplayMessages _displayMessages;

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        if (!user.Identity.IsAuthenticated)
        {
            return;
        }

        _username = user.Identity.Name;
        _userId = _userDbAccessor.GetIdByUser(_username);

        hubConnection.On<string, string, int>("ReceiveUserMessage", (userId, message, conversationId) =>
        {
            Conversations.First(x => x.Id == conversationId)
                .ConversationUsers.First(x => x.UserId == userId)
                .UserMessages.Add(new UserMessages { Message = message, CreatedOn = DateTimeOffset.Now });

            StateHasChanged();
        });

        await hubConnection.StartAsync();

        Conversations = _chatAccessor.GetUserConversations(_userId);
        StateHasChanged();
    }

    private async Task SearchForUser()
    {
        if (!string.IsNullOrWhiteSpace(userSearch))
        {
            var anotherUser = _userDbAccessor.GetIdByUser(userSearch);
            if (string.IsNullOrWhiteSpace(anotherUser))
            {
                await JsRuntime.InvokeVoidAsync("alert", "user not found");
                return;
            }

            if (_chatAccessor.ConversationExists(_userId, anotherUser))
            {
                return;
            }

            var conversation = new Conversations()
                {
                    CreatedOn = DateTimeOffset.Now,
                    ConversationUsers = new List<ConversationUsers>
                    {
                        new ConversationUsers { UserId = _userId, CreatedOn = DateTimeOffset.Now },
                        new ConversationUsers { UserId = anotherUser, CreatedOn = DateTimeOffset.Now }
                    }
                };

            var isSaved = _chatAccessor.SaveConversation(conversation);

            if (isSaved)
            {
                Conversations.Add(conversation);
                StateHasChanged();
            }   
        }
    }

    //private async Task Send()
    //{
    //    if (!string.IsNullOrEmpty(messageInput))
    //    {
    //        await hubConnection.SendAsync("SendUserMessage", usernameInput, messageInput);

    //        isUserReadonly = true;
    //        messageInput = string.Empty;
    //    }
    //}

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}