@inherits ChatPage;

<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item disabled">Existing Convos</li>
        @foreach(var conversation in Conversations)
        {
            @foreach (var convoUser in conversation.ConversationUsers)
            {
                @if (convoUser.UserId != UserId)
                {
                    var recentMessage = conversation.ConversationUsers.SelectMany(x => x.UserMessages).OrderByDescending(x => x.CreatedOn).FirstOrDefault();
                    <div class="chat_list @SelectConversation(conversation)" @onclick="() => SetSelect(conversation)">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>@convoUser.User.UserName<span class="chat_date">@(recentMessage?.CreatedOn.ToString("MM/dd/yy HH:mm") ?? "")</span></h5>
                                <p>
                                    @(recentMessage?.Message ?? "No messages yet")
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </ul>
</div>

@code {
    [Parameter]
    public List<Conversations> Conversations { get; set; }

    [Parameter]
    public EventCallback<Conversations> SelectedConversationChanged { get; set; }

    [Parameter]
    public Conversations SelectedConversation { get; set; }

    [Parameter]
    public string UserId { get; set; }

    public ValueTask DisposeAsync()
    {
        return ValueTask.CompletedTask;
    }

    private string SelectConversation(Conversations conversation) =>
        IsSelected(conversation) ? "bg-info text-white" : "bg-light";


    bool IsSelected(Conversations conversation)
    {
        if (SelectedConversation == null)
        {
            SelectedConversation = new Conversations();
        }

        return SelectedConversation.Id == conversation.Id;
    }


    void SetSelect(Conversations conversation)
    {        
        if (IsSelected(conversation))
        {
            SelectedConversation = new Conversations();
        }
        else
        {
            SelectedConversation = conversation;
            SelectedConversationChanged.InvokeAsync(SelectedConversation);
            StateHasChanged();
        }
    }
}
